form {
  display: flex;
  flex-direction: column;

  .full {
    width: 500px;
  }

  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .third {
      width: 150px;
    }

  }
}
