<h1 mat-dialog-title>Créer un objectif</h1>

<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="full">
      <mat-label>Nom</mat-label>
      <input formControlName="name" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full">
      <mat-label>Description</mat-label>
      <textarea formControlName="description" matInput></textarea>
    </mat-form-field>
    <div class="full icons">
      <mat-form-field appearance="fill" class="third">
        <mat-label>Objectif validé</mat-label>
        <input formControlName="success" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill" class="third">
        <mat-label>Objectif semi-validé</mat-label>
        <input formControlName="average" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill" class="third">
        <mat-label>Objectif raté</mat-label>
        <input formControlName="failure" matInput>
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button (click)="submit()" [disabled]="form.invalid" color="accent" mat-raised-button>Valider</button>
</div>
