<h1 mat-dialog-title>Créer un objectif</h1>

<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="full">
      <mat-label>Nom</mat-label>
      <input formControlName="name" matInput>
      <mat-hint>Un titre de un mot est meilleur</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full">
      <mat-label>Description</mat-label>
      <textarea formControlName="description" matInput></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Objectif validé</mat-label>
      <input formControlName="success" matInput>
      <button mat-icon-button matSuffix (click)="form.get('success')?.setValue('🟩')">
        <mat-icon>undo</mat-icon>
      </button>
      <mat-error *ngIf="form.get('success')?.invalid">Utilise un unique charactère</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Objectif semi-validé</mat-label>
      <input formControlName="average" matInput>
      <button mat-icon-button matSuffix (click)="form.get('average')?.setValue('🟧')">
        <mat-icon>undo</mat-icon>
      </button>
      <mat-error *ngIf="form.get('average')?.invalid">Utilise un unique charactère</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Objectif raté</mat-label>
      <input formControlName="failure" matInput>
      <button mat-icon-button matSuffix (click)="form.get('failure')?.setValue('🟥')">
        <mat-icon>undo</mat-icon>
      </button>
      <mat-error *ngIf="form.get('failure')?.invalid">Utilise un unique charactère</mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button (click)="submit()" [disabled]="form.invalid" color="accent" mat-raised-button>Valider</button>
</div>