:host {
    width: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.month {
    h4 {
        margin-bottom: 8px;
    }

    margin-top: 20px;

    &-days {
        margin-bottom: 20px;
    }
}

.day,
.recap,
.title {
    display: inline-block;

    & > * {
        height: 25px;
        line-height: 25px;
        vertical-align: middle;
    }

    &.monday {
        border-left: 1px solid black;
    }

    &-letter {
        border-bottom: 1px solid black;
    }

    &-objective {
        font-size: 18px;

        ::ng-deep.mat-select-arrow {
            display: none;
        }

        &:hover {
            background-color: lightgray;
        }
    }
}

.title {
    text-align: right;
    margin-right: 10px;
}

.day {
    width: 25px;
    text-align: center;
}

.recap {
    margin-left: 10px;
}

mat-select.🟩,
.mat-option[value="🟩"] {
    background-color: rgb(217, 234, 211);
}

mat-select.🟧,
.mat-option[value="🟧"] {
    background-color: rgb(252, 229, 205);
}

mat-select.🟥,
.mat-option[value="🟥"] {
    background-color: rgb(244, 204, 204);
}