<ng-container *ngIf="dataset$ | async as dataset; else loaderTemplate">

  <ng-container *ngFor="let user of users">

    <h2 class="name">
      <app-user-badge [user]="user" size="small"></app-user-badge>
      {{ user.displayName }}
    </h2>

    <table>
      <thead>
        <tr>
          <td></td>
          <td *ngFor="let month of months">{{ month | date:'MMM' | titlecase }}</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let config of dataset.objectiveConfigs[user.id]">
          <td>
            <app-user-objective [user]="user" [objectiveConfig]="config" [objective]="dataset.objectives[config.id]"></app-user-objective>
          </td>
          <ng-container *ngFor="let month of months">
            <ng-container *ngIf="computeScore(month, config, dataset.activity[user.id]) as score">
              <td class="cell" [class]="score.emoji">{{ score.ratio | percent }}</td>
            </ng-container>
          </ng-container>
        </tr>
      </tbody>
    </table>

    <mat-divider></mat-divider>

  </ng-container>

</ng-container>

<ng-template #loaderTemplate>
  <mat-spinner diameter="50"></mat-spinner>
</ng-template>