.cell {
    width: 50px;
}

.😶 {
    background-color: lightblue;
}

.😩 {
    background-color: rgb(244, 204, 204);
}

.😟 {
    background-color: rgb(252, 229, 205);
}

.🙂 {
    background-color: rgb(217, 234, 211);
}

.😀 {
    background-color: rgb(217, 234, 211);
}

.🤩 {
    background-color: rgb(217, 234, 211);
}

.objective-cell {
    width: 120px;
    text-align: end;

    app-user-objective ::ng-deep mat-chip ::ng-deep [matchipaction] span {
        max-width: 90px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

h2 {
    margin-top: 20px;
    margin-bottom: 5px;
}
