.cell {
    width: 50px;
}

.😶 {
    background-color: lightblue;
}

.😩 {
    background-color: rgb(244, 204, 204);
}

.😟 {
    background-color: rgb(252, 229, 205);
}

.🙂 {
    background-color: rgb(217, 234, 211);
}

.😀 {
    background-color: rgb(217, 234, 211);
}

.🤩 {
    background-color: rgb(217, 234, 211);
}
