.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;

  .title {
    display: flex;
    flex-direction: column;

    h2 {
      margin: 0px;
    }

    h3 {
      margin-left: 10px;
      display: inline;
    }

    .subtitle {
      color: rgba(0, 0, 0, 0.54);
    }
  }

  app-user-badge {
    margin-left: 10px;
  }
}
