<div class="header">
    <div class="title">
        <h2>
            {{ data.objective.success }} {{ data.objective.name }}
        </h2>

        <div class="subtitle">
            {{ data.objective.description }}
        </div>
    </div>

    <app-user-badge [user]="data.user" (click)="close()"></app-user-badge>
</div>

<div>
    <p>
        Objectif de {{ data.user.displayName }}:
    </p>
    <p>
        {{ data.objective.success }} est un succes, avec un objectif de {{ data.objectiveConfig.target | label }} {{ data.objective.success }} par mois.
        <br/>
        {{ data.objective.average }} est un {{ data.objectiveConfig.averageValue | average:data.objective }}.
        <br/>
        {{ data.objective.failure }} est un echec.
    </p>
</div>
