:host {
    max-width: 1100px;
    margin: 0 auto;
    display: block;
    padding-bottom: 75px;
}

.title {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;

    img {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        margin-right: 20px;
        object-fit: cover;
    }

    h1 {
        margin-bottom: 0;
    }

    .subtitle {
        color: rgba(0, 0, 0, 0.54);
    }
}

.members {
    app-user-badge {
        margin-right: -15px;
    }
}