<ng-container *ngIf="users$ | async as users; else loaderTemplate">

  <ng-container *ngIf="users.length; else noItem">
    <mat-card *ngFor="let user of users" [routerLink]="'/community/' + user.id" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{ user.displayName }}</mat-card-title>
          <mat-card-subtitle>
            <app-user-objectives [user]="user"></app-user-objectives>
          </mat-card-subtitle>
          <img [src]="user.photoURL" mat-card-avatar referrerpolicy="no-referrer">
        </mat-card-title-group>
      </mat-card-header>
    </mat-card>
  </ng-container>

</ng-container>

<ng-template #noItem>C'est un peu vide ici 🍃</ng-template>

<ng-template #loaderTemplate>
  <mat-spinner diameter="50"></mat-spinner>
</ng-template>

