<mat-toolbar color="primary">

  <button mat-button routerLink="/">
    <img class="logo" src="./assets/logo/full-logo.png"/>
  </button>

  <div class="spacer"></div>

  <div *ngIf="user$ | async as user" class="menu">
    <button [matMenuTriggerFor]="menu" class="profile-badge" mat-button>
      Menu
      <img [src]="user.photoURL" referrerpolicy="no-referrer"/>
    </button>

    <mat-menu #menu>
      <button mat-menu-item routerLink="/">
        <mat-icon>dashboard</mat-icon>
        Accueil
      </button>

      <button mat-menu-item routerLink="/community/me">
        <mat-icon>account_circle</mat-icon>
        Mon activité
      </button>

      <button mat-menu-item routerLink="/community">
        <mat-icon>groups</mat-icon>
        Communauté
      </button>

      <button mat-menu-item routerLink="/objectives">
        <mat-icon>track_changes</mat-icon>
        Objectifs
      </button>

      <button mat-menu-item routerLink="/settings">
        <mat-icon>settings</mat-icon>
        Mes paramètres
      </button>

      <button (click)="logout()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        Déconnexion
      </button>
    </mat-menu>
  </div>

</mat-toolbar>

<section>
  <router-outlet></router-outlet>
</section>
