@use '@angular/material' as mat;

mat-toolbar {
  @include mat.elevation(2);

  .logo {
    height: 42px;
    margin: 5px 0;
  }

  & > button:first-child {
    font-size: 20px;
  }

  .spacer {
    flex-grow: 1;
  }

  .menu {
    .profile-badge {
      img {
        border-radius: 50%;
        height: 50px;
        vertical-align: middle;
      }
    }
  }
}

section {
  max-width: 1100px;
  margin: 0 auto;
}
