<mat-toolbar color="primary">

  <button mat-button routerLink="/">
    Healthy Casto
  </button>

  <div class="spacer"></div>

  <div *ngIf="auth.currentUser" class="menu">
    <button mat-button class="profile-badge" [matMenuTriggerFor]="menu">
      Menu
      <img [src]="auth.currentUser.photoURL" referrerpolicy="no-referrer" />
    </button>

    <mat-menu #menu>
      <button mat-menu-item routerLink="/">
        <mat-icon>dashboard</mat-icon>
        Accueil
      </button>

      <button mat-menu-item routerLink="/community">
        <mat-icon>groups</mat-icon>
        Communauté
      </button>

      <button mat-menu-item routerLink="/objectives">
        <mat-icon>track_changes</mat-icon>
        Objectifs
      </button>

      <button mat-menu-item routerLink="/profile">
        <mat-icon>account_circle</mat-icon>
        Mon profile
      </button>

      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Déconnexion
      </button>
    </mat-menu>
  </div>

</mat-toolbar>

<section>
  <router-outlet></router-outlet>
</section>