mat-toolbar {

    &>button:first-child {
        font-size: 20px;
    }

    .spacer {
        flex-grow: 1;
    }

    .menu {
        .profile-badge {
            img {
                border-radius: 50%;
                height: 50px;
                margin-left: 10px;
            }
        }
    }
}

section {
    max-width: 1000px;
    margin: 0 auto;
}