<mat-card *ngIf="objective" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ objective.name }}</mat-card-title>
      <mat-card-subtitle *ngIf="users$ | async as users">
        <app-user-badge *ngFor="let userConfig of users[objective.id]" [user]="userConfig.user" size="small"
                        tooltip="{{userConfig.user.displayName}} avec un objectif de {{ userConfig.config.target| label }} {{ objective.success }}"></app-user-badge>
      </mat-card-subtitle>
      <mat-slide-toggle (change)="toggle($event)" [checked]="(objectiveConfig$ | async) != null"></mat-slide-toggle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <p>{{ objective.description }}</p>
    <ng-container *ngIf="objectiveConfig$ | async as objectiveConfig">
      <p>
        <mat-divider></mat-divider>
      </p>

      <section class="objective">
        Objectif mensuel: {{ ngSliderThumb.value | label }} points
        <mat-slider [displayWith]="tooltip" discrete max="31" min="0">
          <input #ngSliderThumb (change)="setTarget(ngSliderThumb.value)" [ngModel]="objectiveConfig.target"
                 matSliderThumb/>
        </mat-slider>
      </section>

      <table>
        <thead>
        <tr>
          <th>Échelle</th>
          <th>Point</th>
        </tr>
        </thead>
        <tr>
          <th>{{ objective.triumph }} <span class="mat-caption">triomphe !</span></th>
          <td>2</td>
        </tr>
        <tr>
          <th>{{ objective.success }} <span class="mat-caption">succès !</span></th>
          <td>1</td>
        </tr>
        <tr>
          <th>{{ objective.average }}</th>
          <td>
            <mat-select (valueChange)="setAverageValue($event)" [ngModel]="objectiveConfig.averageValue" required>
              <mat-option [value]="0">0</mat-option>
              <mat-option [value]="0.5">½</mat-option>
              <mat-option [value]="1">1</mat-option>
            </mat-select>
          </td>
        </tr>
        <tr>
          <th>{{ objective.failure }} <span class="mat-caption">échec !</span></th>
          <td>0</td>
        </tr>
      </table>
      <p>
        <mat-slide-toggle class="private" (change)="setPrivate($event)" [ngModel]="objectiveConfig.private">
          Objectif privé
        </mat-slide-toggle>
      </p>
    </ng-container>
  </mat-card-content>
</mat-card>
