mat-card {
  width: 250px;
  margin: 10px;

  mat-slide-toggle {
    margin: 5px;
  }

  mat-slider {
    width: 100%;
    margin: 0;
  }

  app-user-badge {
    margin-right: -5px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;

    th {
      text-align: left;
      font-weight: 500;
    }

    td {
      text-align: right;
    }

    th, td {
      border: 1px solid #eee;
      vertical-align: initial;
      padding: 5px;

      ::ng-deep .mat-mdc-select-value{
        order: 1;
        font-size: 14px;
      }
    }
  }

  .private ::ng-deep .mdc-switch__icon {
    &--on > path {
      d: path('M17.433 18.775 14.883 16.259q-.583.233-1.325.375T12 16.775q-2.467 0-4.55-1.4T4.35 11.441q.283-.867.917-1.725t1.45-1.658L4.667 6.058l.8-.833 12.717 12.717-.75.833ZM12 14.225q.2 0 .409-.05t.341-.1L9.333 10.691q-.033.167-.075.367t-.041.383q0 1.183.817 1.983t1.967.8Zm5 .8L14.517 12.542q.133-.2.2-.517t.067-.583q0-1.167-.808-1.975T12 8.659q-.283 0-.55.058T10.9 8.909L8.767 6.758q.567-.233 1.508-.441T12.083 6.108q2.4 0 4.475 1.4T19.65 11.441q-.4 1.1-1.1 2t-1.55 1.583ZM13.267 11.275l-1.217-1.2q.2-.133.491-.109T13.067 10.159q.217.217 .292.475T13.267 11.275Z');
    }
    &--off > path {
      d: path('M12.005 14.783Q13.167 14.783 13.975 13.97t.808-1.975Q14.783 10.833 13.97 10.025t-1.975-.808Q10.833 9.217 10.025 10.03t-.808 1.975Q9.217 13.167 10.03 13.975t1.975.808Zm-.007-1.183q-.658 0-1.128-.472Q10.4 12.656 10.4 11.998q0-.658.472-1.128Q11.344 10.4 12.002 10.4q.658 0 1.128.472Q13.6 11.344 13.6 12.002q0 .658-.472 1.128Q12.656 13.6 11.998 13.6ZM12 17.333q-2.517 0-4.575-1.483T4.35 12q1.017-2.367 3.075-3.85T12 6.667q2.517 0 4.575 1.483T19.65 12q-1.017 2.367-3.075 3.85T12 17.333Z');
    }
  }
}
