[mat-card-avatar] {
  transition: all .1s ease-in-out;

  border-radius: 50%;
  border-width: 1px;
  border-style: solid;

  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  &.medium {
    margin-right: -15px;
    height: 60px;
    width: 60px;
  }

  &.small {
    margin-right: -5px;
    height: 25px;
    width: 25px;
  }
}
