<ng-container *ngIf="activity$ | async as activity">

    <h2 class="name">
        {{ month | date:'MMMM' | titlecase }}
    </h2>

    <div class="days">
        <div class="title">
            <div></div>
            <div *ngFor="let objective of objectives">
                <strong>{{ objective.name }}</strong>
            </div>
        </div>

        <div *ngFor="let day of days" class="day" [ngClass]="{ monday: isMonday(day) }">
            <div class="day-letter">
                {{ day | date:'EEEEE' }}
            </div>
            <div class="day-objective" *ngFor="let objective of objectives">

                <mat-select *ngIf="!userId; else readonlyTemplate" [value]="activity?.[day]?.[objective.id]"
                    [ngClass]="activity?.[day]?.[objective.id]" (valueChange)="setActivity($event, day, objective.id)">
                    <mat-option [value]="undefined">-</mat-option>
                    <mat-option value="🟥">{{ objective.failure }}</mat-option>
                    <mat-option value="🟧">{{ objective.average }}</mat-option>
                    <mat-option value="🟩">{{ objective.success }}</mat-option>
                </mat-select>

                <ng-template #readonlyTemplate>
                    <div class="readonly" [ngClass]="activity?.[day]?.[objective.id]">
                        {{ getIcon(objective, activity?.[day]?.[objective.id]) }}
                    </div>
                </ng-template>

            </div>
        </div>

        <div class="recap">
            <div></div>
            <div *ngFor="let config of objectiveConfigs">
                {{ computeActivity(month, config, activity) }} / <strong>{{ config.target | label:'short' }}</strong>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

</ng-container>