@use '@angular/material' as mat;
@use './app/login/hello/hello.component-theme' as hello;
@use './app/home/home.component-theme' as home;

@include mat.core();

$my-primary: mat.define-palette(mat.$blue-palette, 500);
$my-accent: mat.define-palette(mat.$amber-palette, 500);
// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$deep-orange-palette);

$my-theme: mat.define-light-theme((color: (primary: $my-primary,
                accent: $my-accent,
                warn: $my-warn,
            )));

@include mat.all-component-themes($my-theme);
@include hello.theme($my-theme);
@include home.theme($my-theme);

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}