@use '@angular/material' as mat;
@use './app/login/hello/hello.component-theme' as hello;
@use './app/community/users-list/users-list.component-theme' as users-list;
@use './app/community/community.component-theme' as community;
@use './app/home/home.component-theme' as home;
@use './app/objectives/objectives.component-theme' as objectives;

$my-primary: mat.define-palette(mat.$blue-palette, 500);
$my-accent: mat.define-palette(mat.$amber-palette, 500);
// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$deep-orange-palette);

$my-theme: mat.define-light-theme((color: (primary: $my-primary,
  accent: $my-accent,
  warn: $my-warn,
)));

@include mat.core();
@include mat.all-component-typographies();
@include mat.all-component-themes($my-theme);
@include hello.theme($my-theme);
@include users-list.theme($my-theme);
@include community.theme($my-theme);
@include home.theme($my-theme);
@include objectives.theme($my-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-overlay-pane {
  min-width: 50px;
}
