:host {
  max-width: 1100px;
  margin: 15px auto 0 auto;
  display: block;
}

.title {
  display: flex;
  flex-wrap: wrap;

  .user {
    display: flex;
    margin-bottom: 20px;

    img {
      border-radius: 50%;
      height: 100px;
      width: 100px;
      margin: 20px;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &>* {
        margin: 0;
      }

      button {
        width: fit-content;
      }
    }
  }

  .social {
    flex-grow: 1;

    .groups {
      display: flex;
      justify-content: flex-end;
      padding-right: 15px;

      app-group-badge {
        margin-right: -15px;
      }
    }

    .follows {
      display: flex;
      justify-content: flex-end;
    }
  }
}