<ng-container *ngIf="user$ | async as user">

  <div class="title">

    <div class="user">
      <img [src]="user.photoURL" referrerpolicy="no-referrer" />

      <div class="content">
        <h1>{{ user.displayName }}</h1>

        <app-user-objectives [user]="user"></app-user-objectives>
  
        <button *ngIf="isMe; else followButton" mat-stroked-button routerLink="/objectives">Definir mes
          objectifs
        </button>
  
        <ng-template #followButton>
          <app-follow-badge [userId]="userId"></app-follow-badge>
        </ng-template>
      </div>
    </div>

    <div class="social">
      <div *ngIf="belongedGroups$ | async as belongedGroups" class="groups">
        <span class="mat-headline-6">Groupes</span>
        <app-group-badge *ngFor="let group of belongedGroups" [group]="group"></app-group-badge>
      </div>

      <div *ngIf="follows$ | async as follows" class="follows">
        <button mat-button (click)="openFollowings()">
          <strong>{{ follows.followingCount }}</strong> abonnement•s
        </button>
        <button mat-button (click)="openFollowers()">
          <strong>{{ follows.followersCount }}</strong> abonné•e•s
        </button>
      </div>
    </div>
  </div>

  <div class="activity">
    <app-activity [user]="user"></app-activity>
  </div>


</ng-container>