:host {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  margin: 0 auto;
}

mat-card {
  margin: 10px;

  mat-card-content {
    flex-grow: 1;
  }
}

.activity {
  width: 100%;

  .actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
}
