header {
  padding: 30px 0;

  .cards {
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;

    mat-card {
      margin: 10px;
      width: 280px;
      flex-shrink: 0;

      mat-card-content {
        flex-grow: 1;
      }

      app-user-badge, app-group-badge {
        margin-right: -15px;
      }
    }
  }
}

main {
  .activity {
    margin: 0 auto;
    max-width: 1100px;

    .actions {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
}