<div>
    <mat-card>
        <mat-card-title>Communauté</mat-card-title>
        <mat-card-subtitle>Retrouve les copains</mat-card-subtitle>
        <mat-card-content>
            <p>
                <app-users-badges></app-users-badges>
            </p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-stroked-button routerLink="/community">Visiter</button>
        </mat-card-actions>
    </mat-card>
</div>

<div>
    <mat-card>
        <mat-card-title>Mes Objectifs</mat-card-title>
        <mat-card-subtitle>C'est le moment de 💪</mat-card-subtitle>
        <mat-card-content>
            <app-user-objectives></app-user-objectives>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-stroked-button routerLink="/objectives">Definir mes objectifs</button>
        </mat-card-actions>
    </mat-card>
</div>

<div class="activity">
    <app-activity-month *ngFor="let month of months" [month]="month"></app-activity-month>

    <div class="actions">
        <button mat-stroked-button routerLink="/community/me">Mon historique</button>
    </div>
</div>