<svg class="hello-word" height="365" viewBox="0 0 365 365" width="365">

  <g id="H-letter">
    <line class="H-left-stroke" fill="none" stroke-width="34" x1="17" x2="17" y1="0" y2="124"/>
    <line class="H-mid-stroke" fill="none" stroke-width="34" x1="33" x2="68" y1="62" y2="62"/>
    <line class="H-right-stroke" fill="none" stroke-width="34" x1="84" x2="84" y1="0" y2="124"/>
  </g>

  <g id="E-letter">
    <line class="E-left-stroke" fill="none" stroke-width="34" x1="138" x2="138" y1="0" y2="124"/>
    <line class="E-top-stroke" fill="none" stroke-width="34" x1="154" x2="201" y1="17" y2="17"/>
    <line class="E-mid-stroke" fill="none" stroke-width="34" x1="154" x2="196" y1="62" y2="62"/>
    <line class="E-bottom-stroke" fill="none" stroke-width="34" x1="154" x2="201" y1="107" y2="107"/>
  </g>

  <g id="L-one-letter">
    <line class="L-one-long-stroke" fill="none" stroke-width="34" x1="17" x2="17" y1="153" y2="277"/>
    <line class="L-one-short-stroke" fill="none" stroke-width="34" x1="33" x2="77" y1="260" y2="260"/>
  </g>

  <g id="L-two-letter">
    <line class="L-two-long-stroke" fill="none" stroke-width="34" x1="104" x2="104" y1="153" y2="277"/>
    <line class="L-two-short-stroke" fill="none" stroke-width="34" x1="120" x2="164" y1="260" y2="260"/>
  </g>

  <g id="O-letter">
    <circle class="O-stroke" cx="231" cy="215" fill="none" r="48" stroke-width="31"/>
  </g>

  <g id="red-dot">
    <line class="red-dot" x1="325" x2="325" y1="260" y2="260"/>
  </g>

</svg>
